<!DOCTYPE html>
<div>
	<div th:each="s : ${Suppliers}" class="modal-dialog modal-xl fade"
		data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		th:attr="id='staticBackdropSupplier-' + ${s.getId()}, aria-labelledby='staticBackdropSupplierLabel-' + ${s.getId()}"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"
						th:attr="id='staticBackdropSupplierLabel-' + ${s.getId()}">
						Supplier</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table modal-table">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Job Title</th>
								<th scope="col">Notes</th>
								<th scope="col">Products</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${s.getFirstName()}"></span> &nbsp; <span
									th:text="${s.getLastName()}"></span></td>
								<td><span th:text="${s.getJobTitle()}"></span></td>
								<td><span th:text="${s.getNotes()}"></span></td>
								<td>
									<table class="table" id="dataTableProducts">
										<thead>
											<tr>
												<th scope="col">Product Code</th>
												<th scope="col">Product Name</th>
												<th scope="col">Description</th>
												<th scope="col">Standard Cost</th>
												<th scope="col">List Price</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p : ${Products}">
												<td><span th:text="${p.getProductCode()}"></span></td>
												<td><span th:text="${p.getProductName()}"></span></td>
												<td th:text="${p.getDescription()}"></td>
												<td th:text="${p.getStandardCost()}"></td>
												<td th:text="${p.getListPrice()}"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

