<!DOCTYPE html>
<div>
	<div th:each="o : ${OrderStatuses}" class="modal fade"
		data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		th:attr="id='staticBackdropOrderStatus-' + ${o.getId()}, aria-labelledby='staticBackdropOrderStatusLabel-' + ${o.getId()}"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"
						th:attr="id='staticBackdropOrderStatusLabel-' + ${o.getId()}">
						OrderStatus</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<dl class="row">
						<dt class="col">Status</dt>
						<dd class="col">
							<span th:text="${o.getStatusName()}"></span>
						</dd>
					</dl>					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

