<!DOCTYPE html>
<div th:each="c : ${Companies}" class="modal fade"
	data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	th:attr="id='staticBackdropCompany-' + ${c.getId()}, aria-labelledby='staticBackdropCompanyLabel-' + ${c.getId()}"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"
					th:attr="id='staticBackdropCompanyLabel-' + ${c.getId()}">
					Company</span>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<dl class="row">
					<dt class="col-2">Name</dt>
					<dd class="col">
						<span th:text="${c.getName()}"></span>
					</dd>
				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>




