<!doctype html>

<footer class="footer fixed-bottom mt-auto py-3 bg-light">

	<div class="col-4 offset-1 small">
		<form th:action="@{/subscribe}" method="post">
			<h6>Subscribe to our newsletter</h6>
			<div class="d-flex w-100 gap-2">
				<label for="newsletter1" class="visually-hidden">Email
					address</label> <input id="newsletter1" type="text" class="form-control"
					placeholder="Email address">
				<button class="btn btn-primary" type="button">Subscribe</button>
			</div>
		</form>
	</div>
</footer>





