
<div th:fragment="linksJs">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>


	<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
	
	<script
		src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.min.js"></script>

	<script
		src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.min.js"></script>

	<script
		src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"></script>

	<script
		src="https://cdn.datatables.net/scroller/2.4.3/js/dataTables.scroller.min.js"></script>
		
	<script
		src="https://getbootstrap.com/docs/5.0/examples/sidebars/sidebars.js"></script>
	<script>
		$(document).ready(function() {
			$('#dataTable').DataTable({
				"pageLength" : 10, // Set the number of rows per page to 25
				"lengthChange" : false, // Hide the page length drop-down menu
				"searching" : true
			// the search box
			});

			$('#dataTable').attr('placeholder', 'Search...');
		});
		
	</script>
</div>