<!doctype html>

<ul class="list-group list-group-flush">
	<li class="list-group-item">Authentication</li>
	<li class="list-group-item">Company</li>
	<li class="list-group-item">Customer</li>
	<li class="list-group-item">CustomerOrder
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Customer</li>
			<li class="list-group-item">Employee</li>
			<li class="list-group-item">Shipper</li>
		</ul>
	</li>
	<li class="list-group-item">Employee</li>
	<li class="list-group-item">InventoryTransaction
		<ul class="list-group list-group-flush">
			<li class="list-group-item">customerOrder</li>
			<li class="list-group-item">Product</li>
			<li class="list-group-item">PurchaseOrder</li>
		</ul>
	</li>
	<li class="list-group-item">Invoice
		<ul class="list-group list-group-flush">
			<li class="list-group-item">CustomerOrder</li>
		</ul>
	</li>
	<li class="list-group-item">OrderDetail
		<ul class="list-group list-group-flush">
			<li class="list-group-item">CustomerOrder</li>
			<li class="list-group-item">InventoryTransaction</li>
			<li class="list-group-item">Product</li>
			<li class="list-group-item">PurchaseOrder</li>
		</ul>
	</li>
	<li class="list-group-item">Privilege</li>
	<li class="list-group-item">Product
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Supplier</li>
		</ul>
	</li>
	<li class="list-group-item">PurchaseOrder
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Supplier</li>
			<li class="list-group-item">
				<div title="createdBy">Created By</div>
			</li>
			<li class="list-group-item">
				<div title="submittedBy">Submitted By</div>
			</li>
			<li class="list-group-item">
				<div title="approvedBy">Approved By</div>
			</li>
		</ul>
	</li>
	<li class="list-group-item">PurchaseOrderDetail
		<ul class="list-group list-group-flush">
			<li class="list-group-item">InventoryTransaction</li>
			<li class="list-group-item">Product</li>
			<li class="list-group-item">PurchaseOrder</li>
		</ul>
	</li>	
	<li class="list-group-item">Role</li>
	<li class="list-group-item">Shipper</li>	
	<li class="list-group-item">Supplier
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Product</li>
		</ul>	
	</li>		
</ul>




     
 
