<!doctype html>
<div class="container mt-5 pt-2" id="leftSideBar">
	<div class="pt-3">
		<h3>Entities</h3>
		<ul class="list-unstyled pt-3">
			<li class="mb-1"><a th:href="@{/employee-roster/preview}"> <img
					class="figure-img img-fluid rounded"
					th:src="@{/icons/save-icon.png}" alt="Preview Employee Roster" width="150px" height="150px" ></img></a></li>
			<li class="mb-1"><a th:href="@{/employee-roster/dropbox}"> <img
					class="figure-img img-fluid rounded"
					th:src="@{/icons/dropbox-icon.png}" alt="Drop Box Employee Roster" width="150px" height="150px" ></img></a></li>
			<li class="mb-1"><a th:href="@{/employee-roster/email}"> <img
					class="figure-img img-fluid rounded"
					th:src="@{/icons/email-icon.png}" alt="Email Employee Roster" width="150px" height="150px" ></img></a></li>						
			<li class="mb-1"><a th:href="@{/employee-roster/save}"> <img			
					class="figure-img img-fluid rounded"
					th:src="@{/icons/save-icon.png}" alt="Save Employee Roster" width="150px" height="150px" ></img></a></li>					
		</ul>
	</div>
</div>

<script
		src="https://getbootstrap.com/docs/5.0/examples/sidebars/sidebars.js"></script>
