<!DOCTYPE html>
<div th:each="e : ${Employees}" class="modal fade"
	data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	th:attr="id='staticBackdropCreatedBy-' + ${e.getId()}, aria-labelledby='staticBackdropCreatedByLabel-' + ${e.getId()}"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"
					th:attr="id='staticBackdropCreatedByLabel-' + ${e.getId()}">
					Employee</span>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-2">Name</div>
					<div class="col">
						<span th:text="${e.getFirstName()}"></span> &nbsp; <span
							th:text="${e.getLastName()}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-2">Job Title</div>
					<div class="col">
						<span th:text="${e.getJobTitle()}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-2">Notes</div>
					<div class="col">
						<span th:text="${e.getNotes()}"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


