<!DOCTYPE html>
<div>
	<div th:each="i : ${InventoryTransactions}" class="modal fade"
		data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		th:attr="id='staticBackdropInventoryTransaction-' + ${i.getId()}, aria-labelledby='staticBackdropInventoryTransactionLabel-' + ${i.getId()}"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"
						th:attr="id='staticBackdropInventoryTransactionLabel-' + ${i.getId()}">
						Inventory Transaction</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<dl class="row">
						<dt class="col">Created Date</dt>
						<dd class="col">
							<span
								th:text="${#temporals.format(i.getTransactionCreatedDate(), 'dd-MM-yyyy HH:mm')}"></span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="col">Modified Date</dt>
						<dd class="col">
							<span
								th:text="${#temporals.format(i.getTransactionModifiedDate(), 'dd-MM-yyyy HH:mm')}"></span>
						</dd>
					</dl>
					<dl class="row">
						<dt class="col">Quantity</dt>
						<dd class="col">
							<span th:text="${i.getQuantity()}">
						</dd>
					</dl>
					<dl class="row">
						<dt class="col">Comments</dt>
						<dd class="col">
							<span th:text="${i.getComments()}"></span>
						</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

